body{
    background-image:url("https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-108743.jpg?w=2000");
    background-size:cover;
   font-family: 'Prosto One', cursive;
 
   }
   img{
       border-radius: 40px;
   }
    


h2{
    color: #DE7400;
    padding-left: 10px;
}

.icono{
    color: #DAF7A6;
    padding-left: 10px;
}

p{
    font-size: 20px;
    color: black;
    padding-left: 10px;
}


#midiv{
    display:none;
}
    


 #next{
  
     margin-left: 200px;
     border-radius:5px ;
   background-color:orange;
 }
 #prev{
     background-color:orange;
 }
 #infomas{
     color: darkblue;
 }

#rell{
    color: lightgreen;
    padding-left: 10px;
}


#habs{
    font-size:19px
}

#nombre {padding-left:50px;
text-shadow:5px 2px 4px black;
border:5px solid white;
border-radius:10px;
color: red;
background-color: cornflowerblue;
background-image:url("https://imgs.search.brave.com/7LQcLDXaonIU7Agz3I9x-0pWwE421rW7onCqXECvNd8/rs:fit:1041:806:1/g:ce/aHR0cHM6Ly93d3cu/c29sb2ZvbmRvcy5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTUvMTEvdGFibGVi/YWNrLmpwZw");
animation-name:anima;
animation-duration:2s;
animation-iteration-count:infinite;
}

@keyframes anima{
    0%{
     border-color:red;   
    }
    25%{
        border-color:blue;
    }
    50%{
        border-color:deeppink;
    }
    75%{
        border-color:blue;
    }
    100%{
     border-color:red; 
    }
}

#auto{
    color:green;
    animation: automo 5s infinite;
    position:absolute;
   
    }


@keyframes automo{
    0%{
        left:0px;
    }
    50%{
        left:350px;
    }
    100%{
        left:0px;
    }
}
